﻿.bingo-tile, .roll-button {
  align-content: center;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  border-radius: 4px; }

.title-t, .title-i, .title-n, .title-g, .title-o {
  font-size: 68px;
  height: 71px;
  text-align: center; }

body {
  background-color: black; }

.bingo-tile {
  font-weight: bold;
  height: 33px;
  display: grid;
  margin: 0px;
  padding: 0px;
  color: black;
  margin: 2px;
  padding-left: 3px; }
  .bingo-tile.activated, .bingo-tile.hover {
    background-color: #C0C0C0;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), inset 5px 5px 8px rgba(0, 0, 0, 0.5); }

.roll-button {
  justify-self: center;
  border-radius: 20px;
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  margin-top: 21px;
  margin-right: 18px;
  margin-bottom: 8px; }

.title-t {
  margin-right: -7px;
  text-shadow: -1px 3px 2px #969696; }

.title-i {
  text-shadow: -1px 3px 2px #969696; }

.title-n {
  text-shadow: -1px 3px 2px #969696; }

.title-g {
  text-shadow: -1px 3px 2px #969696; }

.title-o {
  text-shadow: -1px 3px 2px #969696; }

.btn-outline-dark {
  font-weight: bold;
  height: 62px;
  width: 100%; }

h1 {
  font-family: Georgia, "Times New Roman",Times, serif; }

h2 {
  font-size: 90px;
  height: 100px;
  margin-right: 7px;
  padding-left: 20px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.container {
  max-width: 475px;
  padding: 0;
  -webkit-box-shadow: -11px 12px 6px 0 #4d4b4d;
  -moz-box-shadow: -11px 12px 6px 0 #4d4b4d;
  box-shadow: -11px 4px 5px 0 #4d4b4d;
  border-left: 45px #ed7c24 solid;
  border-right: 32px #ed7c24 solid;
  border-top: 27px #ed7c24 solid;
  border-bottom: 33px #ed7c24 solid;
  border-radius: 15px;
  background-color: #ed7c24; }

.table-header {
  background-color: #ed7c24; }

.th {
  font-family: fantasy;
  width: 80px; }

.bingo-tiles {
  width: 80px;
  height: 35px;
  border: 1px black solid; }

.btn-outline-dark {
  font-weight: bold;
  height: 62px;
  width: 100%; }

.button-row {
  display: flex;
  flex-wrap: wrap; }

.row {
  margin-right: 0px; }

.table td,
.table th {
  padding: 0px !important; }

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .title-t, .title-i, .title-n, .title-g, .title-o {
    font-size: 40px;
    height: 45px;
    text-shadow: -1px 3px 2px #969696; }
  .container {
    max-width: 300px;
    padding: 0;
    -webkit-box-shadow: -11px 12px 6px 0 #4d4b4d;
    -moz-box-shadow: -11px 12px 6px 0 #4d4b4d;
    box-shadow: -11px 4px 5px 0 #4d4b4d;
    border-left: 42px #ed7c24 solid;
    border-right: 24px #ed7c24 solid;
    border-top: 2px #ed7c24 solid !important;
    border-bottom: 2px #ed7c24 solid !important;
    border-radius: 15px;
    background-color: #ed7c24; }
  .title-col {
    width: 19% !important; }
  h2 {
    font-size: 60px;
    height: 70px;
    margin-right: 7px;
    padding-left: 10px; }
  .bingo-tile {
    width: 40px;
    height: 23px;
    border: 1px #000 solid; }
  .th {
    font-family: fantasy;
    width: 55px; }
  .roll-button {
    justify-self: center;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 18px;
    margin-bottom: 7px; } }

@media only screen and (min-width: 360px) and (max-width: 375px) {
  .title-t, .title-i, .title-n, .title-g, .title-o {
    font-size: 40px;
    height: 45px;
    text-shadow: -1px 3px 2px #969696; }
  .container {
    max-width: 300px;
    padding: 0;
    -webkit-box-shadow: -11px 12px 6px 0 #4d4b4d;
    -moz-box-shadow: -11px 12px 6px 0 #4d4b4d;
    box-shadow: -11px 4px 5px 0 #4d4b4d;
    border-left: 42px #ed7c24 solid;
    border-right: 24px #ed7c24 solid;
    border-top: 2px #ed7c24 solid !important;
    border-bottom: 2px #ed7c24 solid !important;
    border-radius: 15px;
    background-color: #ed7c24; }
  .title-col {
    width: 19% !important; }
  h2 {
    font-size: 60px;
    height: 70px;
    margin-right: 7px;
    padding-left: 10px; }
  .bingo-tile {
    width: 45px;
    height: 29px;
    border: 1px #000 solid; }
  .th {
    font-family: fantasy;
    width: 55px; }
  .roll-button {
    justify-self: center;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 18px;
    margin-bottom: 7px; } }

@media only screen and (min-width: 375px) and (max-width: 411px) {
  .title-t, .title-i, .title-n, .title-g, .title-o {
    font-size: 40px;
    height: 45px;
    text-shadow: -1px 3px 2px #969696; }
  .container {
    max-width: 300px;
    padding: 0;
    -webkit-box-shadow: -11px 12px 6px 0 #4d4b4d;
    -moz-box-shadow: -11px 12px 6px 0 #4d4b4d;
    box-shadow: -11px 4px 5px 0 #4d4b4d;
    border-left: 42px #ed7c24 solid;
    border-right: 24px #ed7c24 solid;
    border-top: 2px #ed7c24 solid !important;
    border-bottom: 2px #ed7c24 solid !important;
    border-radius: 15px;
    background-color: #ed7c24; }
  .title-col {
    width: 19% !important; }
  h2 {
    font-size: 60px;
    height: 70px;
    margin-right: 7px;
    padding-left: 10px; }
  .bingo-tile {
    width: 45px;
    height: 29px;
    border: 1px #000 solid; }
  .th {
    font-family: fantasy;
    width: 55px; }
  .roll-button {
    justify-self: center;
    border-radius: 20px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 18px;
    margin-bottom: 7px; } }

@media only screen and (min-width: 411px) and (max-width: 414px) {
  .title-t, .title-i, .title-n, .title-g, .title-o {
    font-size: 45px;
    height: 45px;
    text-shadow: -1px 3px 2px #969696; }
  .title-col {
    width: 20% !important; }
  h2 {
    font-size: 60px;
    height: 70px;
    margin-right: 7px;
    padding-left: 10px; }
  .bingo-tile {
    width: 53px;
    height: 35px;
    border: 1px black solid; }
  .container {
    max-width: 350px;
    padding: 0;
    -webkit-box-shadow: -11px 12px 6px 0 #4d4b4d;
    -moz-box-shadow: -11px 12px 6px 0 #4d4b4d;
    box-shadow: -11px 4px 5px 0 #4d4b4d;
    border-left: 45px #ed7c24 solid;
    border-right: 32px #ed7c24 solid;
    border-top: 5px #ed7c24 solid;
    border-bottom: 5px #ed7c24 solid;
    border-radius: 15px;
    background-color: #ed7c24; }
  .th {
    font-family: fantasy;
    width: 55px; } }
