﻿@page "/card"
@using Data
@inherits PlayerCardBase

<style>

    .text-span {
        color: #ed7c24; 
        font-weight: bold; 
        font-size: 20px;
    }
    .player-card {
        margin: 0px !important;
    }

    .table {
        text-align: center;
        border: 3px solid white;
        min-width: unset !important;
        width: unset !important;
    }

    td {
        border: 2px solid black;
        min-width: 65px;
        background-color: #ed7c24;
        font-weight: bold;
        font-size: 20px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .filler-cell {
        background-color: black;
    }

    .selected-tile {
        background-color: gray;
    }
</style>
<body style="background-color: black;">    
    <div style="margin-top: 25px;">
        <span class="text-span">Player Page</span>
        @if (showNameInput)
        {
            <EditForm Model="@player" OnInvalidSubmit="HandleInvalidSubmit" OnValidSubmit="HandleValidSubmit">
                <div>
                    <InputText id="name" @bind-Value="@player.Name" />
                    <button type="submit">Submit Name</button>
                </div>
                <div>
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                </div>
            </EditForm>
        }
        @if (showInvalidName)
        {
            <span style="color:red;">Name is invalid or taken.</span>
        }
        @if (showCard)
        {
            <div>
                <span class="text-span">Name: @player.Name</span>
            </div>
            <br />
            <div class="player-card">
                <table class="table">
                    <thead>
                        <tr>
                            <td>T</td>
                            <td>I</td>
                            <td>N</td>
                            <td>G</td>
                            <td>O</td>
                        </tr>
                        <tr>
                            <td class="filler-cell"></td>
                            <td class="filler-cell"></td>
                            <td class="filler-cell"></td>
                            <td class="filler-cell"></td>
                            <td class="filler-cell"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in player.Card.Cells)
                        {
                            <tr>
                                @foreach (var cell in row)
                                {
                                    @if (cell != -1)
                                    {
                                        <td class="@(selectedTiles.Contains(cell) ? "selected-tile":"")" @onclick="@(e=>SelectTile(e, cell))">
                                            @cell
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="selected-tile">
                                            Free
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @if (showHasTingo)
            {
                <h3>You have Tingo!</h3>
                <img src="../fw.gif" width="330" height="300" />
            }
        }
    </div>
</body>