﻿@page "/caller"
@using Tingo.Data
@inherits Tingo.Base.TingoCallerBase
@inject TingoService TingoService

@code {
    private void ResetGame()
    {
        TingoService.ResetGame();
    }
}

<head>
    <link href="sass/caller.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row" style="border-bottom: black">
            <div class="col-sm title-col">
                <h1 class="title-t">
                    T
                </h1>
            </div>
            <div class="col-sm title-col">
                <h1 class="title-i">
                    I
                </h1>
            </div>
            <div class="col-sm title-col">
                <h1 class="title-n">
                    N
                </h1>
            </div>
            <div class="col-sm title-col">
                <h1 class="title-g">
                    G
                </h1>
            </div>
            <div class="col-sm title-col">
                <h1 class="title-o">
                    O
                </h1>
            </div>
        </div>
        @for (var i = 1; i <= 15; i++)
        {
            <div class="row">
                @for (var j = i; j < (i + (15 * 5)); j += 15)
                {
                    tile = _buttonArray[j - 1];
                    <label class="col-sm bingo-tile"
                           disabled="@tile.Selected"
                           style="background-color: @tile.BackgroundColor; color: @tile.TextColor"> @j</label>
                    }
            </div>
        }
        <div style="text-align: center">
            <button class="roll-button btn btn-dark" @onclick="RollBall">ROLL BALL</button>
        </div>
    </div>

    <button class="btn btn-primary" @onclick="ResetGame">Reset Game</button>
</body>
