﻿@page "/tingoservicetest"

@using Tingo.Data
@inject TingoService TingoService

<h1>Tingo Service Test Page</h1>

<p>This component demonstrates fetching data from a Tingo service.</p>

<button class="btn btn-primary" @onclick="ResetGame">Reset Game</button>

<button class="btn btn-primary" @onclick="Roll">Roll</button>

<button class="btn btn-primary" @onclick="AddRandomPlayer">Add Random Player</button>

@code {
    private void ResetGame()
    {
        TingoService.ResetGame();
        TingoService.AddPlayer("Bob");
        TingoService.AddPlayer("Sue");
        TingoService.AddPlayer("Jim");
        TingoService.AddPlayer("Sal");
        TingoService.AddPlayer("Rod");
        TingoService.AddPlayer("Ricky");
        TingoService.AddPlayer("Bubbles");
        TingoService.AddPlayer("Julian");
        TingoService.Roll();
    }

    private void Roll()
    {
        TingoService.Roll();
    }

    private string GetRollString(int roll)
    {
        return roll + " ";
    }

    private void AddRandomPlayer()
    {
        TingoService.AddPlayer(Guid.NewGuid().ToString());
    }
}

@if (!TingoService.IsLoaded)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Has Tingo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in TingoService.Players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.HasTingo</td>
                </tr>
            }
        </tbody>
    </table>

    <p><em>@TingoService.GetRolledNumbers().Count tingo rolls:</em></p>

    <textarea name="output" rows="10" cols="30">
        @foreach (var roll in TingoService.GetRolledNumbers())
        {
            @GetRollString(roll)
        }
    </textarea>
}
