﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tingo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home link" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="card">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Card
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="caller">
                <span class="oi oi-list-rich link" aria-hidden="true"></span> Caller
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tingoservicetest">
                <span class="oi oi-list-rich link" aria-hidden="true"></span> Service test
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
